@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';


/* This element would be replaced by where you want the templates. */
.tweetEntry-tweetHolder {
  border-left: 1px solid #e1e8ed;
  border-right: 1px solid #e1e8ed;
  border-top: 1px solid #e1e8ed;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

/* The action list is optional. */
.tweetEntry-action-list {
  display: block;
  line-height: 18px;
  margin-left: 58px;
  margin-top: 10px;
  color: #292f33;
}
.fa-reply:hover {
  color: #292f33;
}
.fa-retweet:hover {
  color: #5cd65c;
}
.fa-heart:hover {
  color: #ff3333;
}
/************************/

.tweetEntry {
  border-bottom: 1px solid #e1e8ed;
  min-height: 151px;
  padding: 9px 12px;
}
.tweetEntry-content {
  display: block;
  font-size: 16px;
  margin-left: 58px;
}
.tweetEntry-account-group {
  color: #8899a6;
  padding: 0px;
  text-decoration: none;
  line-height: 20px;
}
.tweetEntry-avatar {
  float: left;
  height: 48px;
  width: 48px;
  margin-left: -58px;
  border-radius: 5px;
}
.tweetEntry-fullname {
  font-weight: bold;
  font-size: 18px;
  color: #292f33;
  padding: 0px;
}
.tweetEntry-username {
  font-weight: bold;
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-timestamp {
  font-size: 14px;
  color: #b1bbc3;
  padding: 0px;
}
.tweetEntry-text-container {
  font-size: 17px;
  color: #292f33;
  line-height: 18px;
}

.optionalMedia {
  margin-left: 58px;
  margin-top: 10px;
}
.optionalMedia-img {
  border-radius: 5px;
  max-width: 506px;
  max-height: 506px;
  
}


.flash__message {
 transition: width 2s linear 1s;
}
